{
"TARGET_SERVER_ID" : "YOUR TARGET SERVER ID",
"NEW_SERVER_NAME" : "THE NEW SERVER NAME AFTER DESTROYED THE SERVER",
"NEW_SERVER_ICON_URL" : "THE NEW SERVER ICON URL AFTER DESTROYED THE SERVER",
"BOT_TOKEN" : "BOT TOKEN"
}
